* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f7fb;
}

/* CHAT BUTTON */

#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  background: #2563eb;
  color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;

  cursor: pointer;
  z-index: 9999;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#chat-toggle:hover {
  transform: scale(1.05);
  background: #0062cc;
}

/* CHAT WINDOW */

#chat-window {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: #111827;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;

  transform: scale(0.98);
  transition: 0.2s ease;
}

#chat-window.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

#chat-topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px;

  background: #dc2626;

  font-size:22px;
  font-weight:bold;
}

#close-chat{
  margin-left: auto;
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

body.chat-open #chat-toggle {
  display: none;
}

/* CHAT MESSAGES */

#chat {
  flex: 1;

  padding: 15px;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  gap: 12px;

  background: #f7f9fc;
}

/* USER MESSAGE */

.user-message {
  align-self: flex-end;

  background: #007bff;
  color: white;

  padding: 10px 14px;

  border-radius: 16px 16px 0 16px;

  max-width: 80%;

  line-height: 1.4;
}

/* AI MESSAGE */

.ai-message {
  align-self: flex-start;

  background: white;

  border: 1px solid #ddd;

  padding: 10px 14px;

  border-radius: 16px 16px 16px 0;

  max-width: 80%;

  line-height: 1.4;
}

/* INPUT AREA */

#input-area {
  display: flex;

  padding: 12px;

  border-top: 1px solid #ddd;

  background: white;
}

#msg {
  flex: 1;

  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 10px;

  outline: none;

  font-size: 14px;
}

#send-btn {
  margin-left: 10px;

  padding: 12px 16px;

  border: none;
  border-radius: 10px;

  background: #007bff;
  color: white;

  cursor: pointer;

  transition: 0.2s;
}

#send-btn:hover {
  background: #0062cc;
}

/* MOBILE */

@media (max-width: 500px) {

  #chat-window {
    width: calc(100% - 20px);
    height: 80vh;

    right: 10px;
    bottom: 80px;
  }

}